* {
    box-sizing: border-box;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;

    &.menu-mobile-open, &.languages-list-open {
        scroll-behavior: unset;
    }
}

body {
    position: relative;
    font-family: "Lato", sans-serif;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-weight: var(--font-weight-base);
    scroll-behavior: smooth;

    & > main {
        position: relative;
    }

    & .overlay {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        z-index: 15;
        height: 100vh;
        width: 100%;
        background-color: var(--color-black--70);
        transition: opacity 0.2s, visibility 0.2s, z-index 0.2s;
    }

    &.menu-mobile-open, &.languages-list-open {
        position: fixed !important;
        overflow-y: scroll !important;
        scrollbar-color: transparent transparent;

        & .overlay {
            opacity: 1;
            visibility: visible;
        }
    }

}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--font-weight-bold);
}

h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
}