<nav id="navbar">
    <a href="/" class="logo">
        LD
    </a>
    
    <div class="menu">
        <a href="#projects">Projets</a>
        <a href="#contact">Contact</a>
        <a class="button button--medium" href="/resume" target="_blank" rel="noopener noreferrer">Curriculum vitae</a>
        <a id="nav-button-lang" class="lang" role="button">
            <img class="icon--15 js-lang-flag" src="/img/france_flag_round.png" alt="France flag round">
            <span class="js-lang-code">FR</span>
        </a>
    </div>

    <div id="menu-mobile-button" class="menu-mobile-button">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div id="menu-mobile" class="menu-mobile">
        <a href="#projects" class="js-link">Projets</a>
        <a href="#contact" class="js-link">Contact</a>
        <a class="button button--medium js-link" href="/resume" target="_blank" rel="noopener noreferrer">Curriculum vitae</a>
        <a id="mobile-button-lang" class="lang" role="button">
            <img class="icon--15 js-lang-flag" src="/img/france_flag_round.png" alt="France flag round">
            <span class="js-lang-code">FR</span>
        </a>
    </div>
</nav>