<%- include('../header') -%>

<section class="home">

	<section class="hero">

		<main>

			<section class="headlines reveal">
				<span class="reveal-1">Hi, my name is</span>
				<h1 class="name reveal-2">Louis.</h1>
				<h1 class="reveal-3">I build web applications.</h1>
				<p class="description reveal-4">
					I enjoy investing myself inside challenging projects in order to give
					the best digital experience while i keep improving as a 
					developer. <a href="mailto:louis_daniel@outlook.fr">Contact me</a> if you want to talk about
					opportunities.
					<img class="emoji" src="/img/emoji_angel.png" alt="Emoji angel">
				</p>
				<div class="cta reveal-5">
					<a class="button button--big" href="#projects">Check out my projects!</a>
				</div>
			</section>

			<section class="graphics">
				<svg class="line-vector" width="1283" height="1035" viewBox="0 0 1283 1035" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1161.63 646.197C1161.63 646.197 460.753 387.868 332.625 226.196C204.498 64.5244 438.392 -24.9082 489.009 66.8745C539.625 158.657 816.674 747.817 594.349 847.171C372.024 946.525 71.1909 1144.4 32.6253 847.171C-5.94025 549.945 648.779 175.217 1253 158.657" stroke="#5DE1A2" stroke-opacity="0.25" stroke-width="60" stroke-linecap="round"/>
				</svg>
					
				<img class="user" src="/img/user.png" alt="Photo Louis">

				<div class="techno-card techno-card--100 techno-1">
					<img src="/img/nodejs.png" alt="NodeJs logo">
				</div>

				<div class="techno-card techno-card--80 techno-2">
					<img src="/img/php.png" alt="Php logo">
				</div>

				<div class="techno-card techno-card--60 techno-3">
					<img src="/img/javascript.png" alt="Javascript logo">
				</div>

				<div class="techno-card techno-card--70 techno-4">
					<img src="/img/mysql.png" alt="MySql logo">
				</div>
					
			</section>

		</main>

		<div class="techno-card techno-card--70 techno-5">
			<img src="/img/sass.png" alt="Sass logo">
		</div>

	</section>

	<section id="projects" class="projects">

		<div class="techno-card techno-card--100 techno-6">
			<img src="/img/redis.png" alt="Redis logo">
		</div>

		<h2>Some things i have built</h2>

		<ul class="list reveal">

			<li class="project-card reveal-1">

				<article class="project">

					<a class="project-link-whole" href="https://speache.com" target="_blank" rel="noopener noreferrer"></a>
				
					<header>

						<a class="website" href="https://speache.com" target="_blank" rel="noopener noreferrer">
							<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M2.30765 10.2151C2.66168 10.2151 2.94868 10.5039 2.94868 10.8602V13.9958C2.94868 14.55 3.36292 15.0041 3.90063 15.0497C5.52807 15.1879 8.09963 15.3764 9.99996 15.3764C11.9003 15.3764 14.4719 15.1879 16.0993 15.0497C16.637 15.0041 17.0512 14.55 17.0512 13.9958V10.8602C17.0512 10.5039 17.3382 10.2151 17.6923 10.2151C18.0463 10.2151 18.3333 10.5039 18.3333 10.8602V13.9958C18.3333 15.2095 17.4196 16.2325 16.2071 16.3355C14.5783 16.4738 11.9593 16.6667 9.99996 16.6667C8.04059 16.6667 5.42165 16.4738 3.79285 16.3355C2.58028 16.2325 1.66663 15.2095 1.66663 13.9958V10.8602C1.66663 10.5039 1.95362 10.2151 2.30765 10.2151Z"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M9.54669 3.52231C9.79702 3.27036 10.2029 3.27036 10.4532 3.52231L13.0173 6.10295C13.2677 6.3549 13.2677 6.7634 13.0173 7.01535C12.767 7.2673 12.3611 7.2673 12.1108 7.01535L10.641 5.53606V10.8602C10.641 11.2165 10.354 11.5054 9.99996 11.5054C9.64593 11.5054 9.35893 11.2165 9.35893 10.8602V5.53606L7.88913 7.01535C7.63879 7.2673 7.23292 7.2673 6.98258 7.01535C6.73225 6.7634 6.73225 6.3549 6.98258 6.10295L9.54669 3.52231Z"/>
							</svg>
						</a>
						
					</header>

					<main>
						<h3>Speache</h3>

						<p>
							Complete rental service based on sharing
							economy in order to make rental access
							easier for everyone.
						</p>
					</main>

					<footer>
						<span>PHP</span>
						<span>Node</span>
						<span>Sass</span>
						<span>Redis</span>
						<span>MySql</span>
						<span>Nginx</span>
						<span>Socket.io</span>
						<span>Google Maps API</span>
					</footer>
					
				</article>

			</li>

			<li class="project-card reveal-2">

				<article class="project">

					<a class="project-link-whole" href="https://christmas.danielouis.com" target="_blank" rel="noopener noreferrer"></a>
				
					<header>

						<a class="git" href="https://gitlab.com/Louisbm/static-site-christmas-theme" target="_blank" rel="noopener noreferrer">
							<svg width="20" height="19" viewBox="0 0 20 19" xmlns="http://www.w3.org/2000/svg">
								<path d="M19.9409 10.3809L18.8759 7.09441C18.8764 7.09589 18.8766 7.09742 18.8771 7.0989C18.8765 7.09719 18.8762 7.09547 18.8758 7.09376C18.8757 7.09364 18.8757 7.09358 18.8757 7.09346C18.8757 7.0934 18.8757 7.09334 18.8757 7.09334L16.7616 0.571375C16.646 0.227805 16.3278 -0.00277886 15.963 5.90915e-05C15.5971 0.00195106 15.2876 0.2281 15.1744 0.5764L13.1677 6.76698H6.83597L4.8255 0.575986C4.71245 0.227982 4.40292 0.00189197 4.0371 0C4.03563 0 4.03421 0 4.03268 0C3.67246 0 3.35361 0.229165 3.23673 0.576577L1.12843 7.09269L1.12814 7.09352C1.12814 7.09358 1.12814 7.09364 1.12814 7.0937C1.12761 7.09535 1.12737 7.09701 1.12684 7.09867C1.12731 7.09719 1.12749 7.09565 1.12796 7.09417L0.0591239 10.3809C-0.101659 10.8771 0.0728126 11.4163 0.493386 11.7229L9.72239 18.4422C9.72375 18.4432 9.72528 18.4438 9.72664 18.4448C9.73059 18.4476 9.73443 18.4505 9.73844 18.4532C9.73466 18.4507 9.73112 18.4479 9.7274 18.4453C9.7274 18.4453 9.7274 18.4452 9.72734 18.4452C9.72793 18.4457 9.72864 18.446 9.72929 18.4464C9.72982 18.4468 9.73035 18.447 9.73088 18.4473C9.73094 18.4474 9.731 18.4475 9.73112 18.4475C9.7454 18.4575 9.76021 18.4666 9.77555 18.4749C9.77767 18.4761 9.77956 18.4776 9.78169 18.4787C9.78175 18.4787 9.78174 18.4787 9.7818 18.4787C9.7831 18.4794 9.78428 18.4802 9.78558 18.4809C9.78658 18.4813 9.78765 18.4816 9.78859 18.4821C9.7893 18.4825 9.79006 18.4827 9.79077 18.483C9.79248 18.4838 9.79437 18.4844 9.79608 18.4852C9.80411 18.4891 9.81255 18.4922 9.82081 18.4956C9.82854 18.4988 9.83603 18.5025 9.84394 18.5053C9.84429 18.5054 9.84458 18.5056 9.84494 18.5057C9.84624 18.5062 9.84742 18.5068 9.84877 18.5073C9.85043 18.5079 9.85202 18.5085 9.85367 18.5091C9.85432 18.5092 9.85497 18.5094 9.85562 18.5095C9.85768 18.5102 9.85992 18.5105 9.86199 18.5111C9.86276 18.5113 9.86364 18.5114 9.86447 18.5117C9.87556 18.515 9.88707 18.5175 9.89851 18.52C9.903 18.521 9.9073 18.5224 9.91185 18.5233C9.9125 18.5234 9.91309 18.5236 9.91379 18.5237C9.91527 18.524 9.91663 18.5246 9.91816 18.5248C9.92058 18.5252 9.92294 18.526 9.92542 18.5263C9.92737 18.5266 9.92937 18.5265 9.93132 18.5268C9.93167 18.5269 9.93197 18.5268 9.93232 18.5269C9.93244 18.5269 9.9325 18.5269 9.93262 18.5269C9.95439 18.53 9.97646 18.5322 9.99894 18.5322C9.99905 18.5322 9.99917 18.5322 9.99935 18.5322C9.99941 18.5322 9.99947 18.5322 9.99947 18.5322H9.99953C9.99958 18.5322 9.99964 18.5322 9.9997 18.5322C10.0222 18.5322 10.0443 18.53 10.0661 18.5269C10.0662 18.5269 10.0663 18.5269 10.0664 18.5269C10.0667 18.5268 10.0671 18.5269 10.0674 18.5268C10.0694 18.5265 10.0715 18.5266 10.0734 18.5263C10.0759 18.5259 10.0782 18.5252 10.0807 18.5248C10.0822 18.5246 10.0835 18.524 10.085 18.5237C10.0857 18.5236 10.0863 18.5234 10.0869 18.5233C10.0915 18.5224 10.0959 18.521 10.1005 18.5199C10.1118 18.5175 10.1231 18.515 10.1342 18.5117C10.1349 18.5115 10.1357 18.5114 10.1365 18.5112C10.1387 18.5105 10.1409 18.5103 10.1431 18.5096C10.1437 18.5094 10.1444 18.5093 10.1451 18.5091C10.1468 18.5086 10.1484 18.5079 10.1501 18.5073C10.1514 18.5068 10.1526 18.5062 10.1539 18.5057C10.1542 18.5056 10.1545 18.5054 10.1549 18.5053C10.1633 18.5023 10.1712 18.4984 10.1794 18.4951C10.187 18.4919 10.1948 18.489 10.2022 18.4855C10.204 18.4846 10.206 18.4841 10.2077 18.4832C10.2085 18.4828 10.2093 18.4826 10.21 18.4822C10.211 18.4818 10.2121 18.4815 10.2131 18.4809C10.2144 18.4802 10.2157 18.4794 10.217 18.4787C10.217 18.4787 10.2171 18.4787 10.2171 18.4787C10.2193 18.4776 10.2212 18.476 10.2234 18.4748C10.2386 18.4665 10.2534 18.4575 10.2676 18.4476C10.2687 18.4468 10.27 18.4462 10.2712 18.4454C10.2715 18.4452 10.2718 18.445 10.2721 18.4448C10.2735 18.4438 10.2751 18.4431 10.2764 18.4421L19.5068 11.7227C19.9272 11.4163 20.1017 10.8771 19.9409 10.3809ZM15.9688 1.18236L17.779 6.76698H14.1586L15.9688 1.18236ZM17.462 7.71131L16.7233 8.65972L11.2753 15.6545L13.8524 7.71131H17.462ZM9.55128 18.2061C9.55175 18.2075 9.55252 18.2088 9.55299 18.2103C9.55252 18.2088 9.55175 18.2075 9.55128 18.2061ZM8.72477 15.655L2.54149 7.71131H6.1513L8.72477 15.655ZM4.03138 1.1823L5.84495 6.76698H2.22453L4.03138 1.1823ZM1.04754 10.9591C0.958093 10.8938 0.921039 10.7787 0.955319 10.673L1.74985 8.22971L7.57167 15.709L1.04754 10.9591ZM9.70616 18.4297C9.70433 18.4282 9.70256 18.4267 9.70079 18.4251C9.70044 18.4248 9.70009 18.4244 9.69967 18.4241C9.69613 18.4212 9.69265 18.4181 9.68923 18.4151C9.6825 18.4092 9.6759 18.4032 9.66958 18.397C9.67011 18.3974 9.6707 18.3979 9.67123 18.3983C9.67194 18.399 9.67271 18.3995 9.67342 18.4002C9.68693 18.4131 9.70115 18.4253 9.71602 18.4365C9.71619 18.4366 9.71631 18.4368 9.71649 18.4369C9.7172 18.4375 9.71779 18.4381 9.71849 18.4387C9.71442 18.4358 9.71018 18.4329 9.70616 18.4297ZM9.9997 16.532L8.48539 11.8577L7.14213 7.71131H12.8615L9.9997 16.532ZM10.3096 18.4151C10.3061 18.4181 10.3027 18.4212 10.2991 18.4242C10.2987 18.4245 10.2983 18.4249 10.2978 18.4253C10.296 18.4268 10.2943 18.4284 10.2925 18.4298C10.2886 18.433 10.2844 18.4358 10.2803 18.4388C10.281 18.4383 10.2816 18.4376 10.2824 18.4371C10.2825 18.437 10.2826 18.4369 10.2827 18.4368C10.2976 18.4255 10.3118 18.4135 10.3252 18.4005C10.3257 18.4 10.3263 18.3996 10.3269 18.3991C10.3276 18.3984 10.3284 18.3979 10.329 18.3973C10.3227 18.4034 10.3162 18.4093 10.3096 18.4151ZM18.9527 10.9589L12.4295 15.7075L18.2533 8.2303L19.0446 10.6725C19.079 10.7787 19.042 10.8938 18.9527 10.9589Z"/>
							</svg>
						</a>

						<a class="website" href="https://christmas.danielouis.com" target="_blank" rel="noopener noreferrer">
							<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M2.30765 10.2151C2.66168 10.2151 2.94868 10.5039 2.94868 10.8602V13.9958C2.94868 14.55 3.36292 15.0041 3.90063 15.0497C5.52807 15.1879 8.09963 15.3764 9.99996 15.3764C11.9003 15.3764 14.4719 15.1879 16.0993 15.0497C16.637 15.0041 17.0512 14.55 17.0512 13.9958V10.8602C17.0512 10.5039 17.3382 10.2151 17.6923 10.2151C18.0463 10.2151 18.3333 10.5039 18.3333 10.8602V13.9958C18.3333 15.2095 17.4196 16.2325 16.2071 16.3355C14.5783 16.4738 11.9593 16.6667 9.99996 16.6667C8.04059 16.6667 5.42165 16.4738 3.79285 16.3355C2.58028 16.2325 1.66663 15.2095 1.66663 13.9958V10.8602C1.66663 10.5039 1.95362 10.2151 2.30765 10.2151Z"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M9.54669 3.52231C9.79702 3.27036 10.2029 3.27036 10.4532 3.52231L13.0173 6.10295C13.2677 6.3549 13.2677 6.7634 13.0173 7.01535C12.767 7.2673 12.3611 7.2673 12.1108 7.01535L10.641 5.53606V10.8602C10.641 11.2165 10.354 11.5054 9.99996 11.5054C9.64593 11.5054 9.35893 11.2165 9.35893 10.8602V5.53606L7.88913 7.01535C7.63879 7.2673 7.23292 7.2673 6.98258 7.01535C6.73225 6.7634 6.73225 6.3549 6.98258 6.10295L9.54669 3.52231Z"/>
							</svg>
						</a>
						
					</header>

					<main>
						<h3>Christmas theme website</h3>

						<p>
							Simple landing page about end of year celebrations
							with multiple animations.
						</p>
					</main>

					<footer>
						<span>Node</span>
						<span>Express</span>
						<span>EJS</span>
						<span>SCSS</span>
						<span>JS</span>
					</footer>
					
				</article>

			</li>

			<li class="project-card reveal-3">

				<article class="project">

					<a class="project-link-whole" href="https://gitlab.com/Louisbm/qr-code-generator" target="_blank" rel="noopener noreferrer"></a>
				
					<header>
						<a class="git" href="https://gitlab.com/Louisbm/qr-code-generator" target="_blank" rel="noopener noreferrer">
							<svg width="20" height="19" viewBox="0 0 20 19" xmlns="http://www.w3.org/2000/svg">
								<path d="M19.9409 10.3809L18.8759 7.09441C18.8764 7.09589 18.8766 7.09742 18.8771 7.0989C18.8765 7.09719 18.8762 7.09547 18.8758 7.09376C18.8757 7.09364 18.8757 7.09358 18.8757 7.09346C18.8757 7.0934 18.8757 7.09334 18.8757 7.09334L16.7616 0.571375C16.646 0.227805 16.3278 -0.00277886 15.963 5.90915e-05C15.5971 0.00195106 15.2876 0.2281 15.1744 0.5764L13.1677 6.76698H6.83597L4.8255 0.575986C4.71245 0.227982 4.40292 0.00189197 4.0371 0C4.03563 0 4.03421 0 4.03268 0C3.67246 0 3.35361 0.229165 3.23673 0.576577L1.12843 7.09269L1.12814 7.09352C1.12814 7.09358 1.12814 7.09364 1.12814 7.0937C1.12761 7.09535 1.12737 7.09701 1.12684 7.09867C1.12731 7.09719 1.12749 7.09565 1.12796 7.09417L0.0591239 10.3809C-0.101659 10.8771 0.0728126 11.4163 0.493386 11.7229L9.72239 18.4422C9.72375 18.4432 9.72528 18.4438 9.72664 18.4448C9.73059 18.4476 9.73443 18.4505 9.73844 18.4532C9.73466 18.4507 9.73112 18.4479 9.7274 18.4453C9.7274 18.4453 9.7274 18.4452 9.72734 18.4452C9.72793 18.4457 9.72864 18.446 9.72929 18.4464C9.72982 18.4468 9.73035 18.447 9.73088 18.4473C9.73094 18.4474 9.731 18.4475 9.73112 18.4475C9.7454 18.4575 9.76021 18.4666 9.77555 18.4749C9.77767 18.4761 9.77956 18.4776 9.78169 18.4787C9.78175 18.4787 9.78174 18.4787 9.7818 18.4787C9.7831 18.4794 9.78428 18.4802 9.78558 18.4809C9.78658 18.4813 9.78765 18.4816 9.78859 18.4821C9.7893 18.4825 9.79006 18.4827 9.79077 18.483C9.79248 18.4838 9.79437 18.4844 9.79608 18.4852C9.80411 18.4891 9.81255 18.4922 9.82081 18.4956C9.82854 18.4988 9.83603 18.5025 9.84394 18.5053C9.84429 18.5054 9.84458 18.5056 9.84494 18.5057C9.84624 18.5062 9.84742 18.5068 9.84877 18.5073C9.85043 18.5079 9.85202 18.5085 9.85367 18.5091C9.85432 18.5092 9.85497 18.5094 9.85562 18.5095C9.85768 18.5102 9.85992 18.5105 9.86199 18.5111C9.86276 18.5113 9.86364 18.5114 9.86447 18.5117C9.87556 18.515 9.88707 18.5175 9.89851 18.52C9.903 18.521 9.9073 18.5224 9.91185 18.5233C9.9125 18.5234 9.91309 18.5236 9.91379 18.5237C9.91527 18.524 9.91663 18.5246 9.91816 18.5248C9.92058 18.5252 9.92294 18.526 9.92542 18.5263C9.92737 18.5266 9.92937 18.5265 9.93132 18.5268C9.93167 18.5269 9.93197 18.5268 9.93232 18.5269C9.93244 18.5269 9.9325 18.5269 9.93262 18.5269C9.95439 18.53 9.97646 18.5322 9.99894 18.5322C9.99905 18.5322 9.99917 18.5322 9.99935 18.5322C9.99941 18.5322 9.99947 18.5322 9.99947 18.5322H9.99953C9.99958 18.5322 9.99964 18.5322 9.9997 18.5322C10.0222 18.5322 10.0443 18.53 10.0661 18.5269C10.0662 18.5269 10.0663 18.5269 10.0664 18.5269C10.0667 18.5268 10.0671 18.5269 10.0674 18.5268C10.0694 18.5265 10.0715 18.5266 10.0734 18.5263C10.0759 18.5259 10.0782 18.5252 10.0807 18.5248C10.0822 18.5246 10.0835 18.524 10.085 18.5237C10.0857 18.5236 10.0863 18.5234 10.0869 18.5233C10.0915 18.5224 10.0959 18.521 10.1005 18.5199C10.1118 18.5175 10.1231 18.515 10.1342 18.5117C10.1349 18.5115 10.1357 18.5114 10.1365 18.5112C10.1387 18.5105 10.1409 18.5103 10.1431 18.5096C10.1437 18.5094 10.1444 18.5093 10.1451 18.5091C10.1468 18.5086 10.1484 18.5079 10.1501 18.5073C10.1514 18.5068 10.1526 18.5062 10.1539 18.5057C10.1542 18.5056 10.1545 18.5054 10.1549 18.5053C10.1633 18.5023 10.1712 18.4984 10.1794 18.4951C10.187 18.4919 10.1948 18.489 10.2022 18.4855C10.204 18.4846 10.206 18.4841 10.2077 18.4832C10.2085 18.4828 10.2093 18.4826 10.21 18.4822C10.211 18.4818 10.2121 18.4815 10.2131 18.4809C10.2144 18.4802 10.2157 18.4794 10.217 18.4787C10.217 18.4787 10.2171 18.4787 10.2171 18.4787C10.2193 18.4776 10.2212 18.476 10.2234 18.4748C10.2386 18.4665 10.2534 18.4575 10.2676 18.4476C10.2687 18.4468 10.27 18.4462 10.2712 18.4454C10.2715 18.4452 10.2718 18.445 10.2721 18.4448C10.2735 18.4438 10.2751 18.4431 10.2764 18.4421L19.5068 11.7227C19.9272 11.4163 20.1017 10.8771 19.9409 10.3809ZM15.9688 1.18236L17.779 6.76698H14.1586L15.9688 1.18236ZM17.462 7.71131L16.7233 8.65972L11.2753 15.6545L13.8524 7.71131H17.462ZM9.55128 18.2061C9.55175 18.2075 9.55252 18.2088 9.55299 18.2103C9.55252 18.2088 9.55175 18.2075 9.55128 18.2061ZM8.72477 15.655L2.54149 7.71131H6.1513L8.72477 15.655ZM4.03138 1.1823L5.84495 6.76698H2.22453L4.03138 1.1823ZM1.04754 10.9591C0.958093 10.8938 0.921039 10.7787 0.955319 10.673L1.74985 8.22971L7.57167 15.709L1.04754 10.9591ZM9.70616 18.4297C9.70433 18.4282 9.70256 18.4267 9.70079 18.4251C9.70044 18.4248 9.70009 18.4244 9.69967 18.4241C9.69613 18.4212 9.69265 18.4181 9.68923 18.4151C9.6825 18.4092 9.6759 18.4032 9.66958 18.397C9.67011 18.3974 9.6707 18.3979 9.67123 18.3983C9.67194 18.399 9.67271 18.3995 9.67342 18.4002C9.68693 18.4131 9.70115 18.4253 9.71602 18.4365C9.71619 18.4366 9.71631 18.4368 9.71649 18.4369C9.7172 18.4375 9.71779 18.4381 9.71849 18.4387C9.71442 18.4358 9.71018 18.4329 9.70616 18.4297ZM9.9997 16.532L8.48539 11.8577L7.14213 7.71131H12.8615L9.9997 16.532ZM10.3096 18.4151C10.3061 18.4181 10.3027 18.4212 10.2991 18.4242C10.2987 18.4245 10.2983 18.4249 10.2978 18.4253C10.296 18.4268 10.2943 18.4284 10.2925 18.4298C10.2886 18.433 10.2844 18.4358 10.2803 18.4388C10.281 18.4383 10.2816 18.4376 10.2824 18.4371C10.2825 18.437 10.2826 18.4369 10.2827 18.4368C10.2976 18.4255 10.3118 18.4135 10.3252 18.4005C10.3257 18.4 10.3263 18.3996 10.3269 18.3991C10.3276 18.3984 10.3284 18.3979 10.329 18.3973C10.3227 18.4034 10.3162 18.4093 10.3096 18.4151ZM18.9527 10.9589L12.4295 15.7075L18.2533 8.2303L19.0446 10.6725C19.079 10.7787 19.042 10.8938 18.9527 10.9589Z"/>
							</svg>
						</a>						
					</header>

					<main>
						<h3>Qr code generator</h3>

						<p>
							Tool allowing users to generate custom
							qr codes from urls.
						</p>
					</main>

					<footer>
						<span>Node</span>
						<span>Express</span>
						<span>JS</span>
						<span>Vue</span>
					</footer>
					
				</article>

			</li>

			<li class="project-card reveal-4">

				<article class="project">

					<a class="project-link-whole" href="https://plants.danielouis.com" target="_blank" rel="noopener noreferrer"></a>
				
					<header>
						<a class="git" href="https://gitlab.com/Louisbm/static-site-plants" target="_blank" rel="noopener noreferrer">
							<svg width="20" height="19" viewBox="0 0 20 19" xmlns="http://www.w3.org/2000/svg">
								<path d="M19.9409 10.3809L18.8759 7.09441C18.8764 7.09589 18.8766 7.09742 18.8771 7.0989C18.8765 7.09719 18.8762 7.09547 18.8758 7.09376C18.8757 7.09364 18.8757 7.09358 18.8757 7.09346C18.8757 7.0934 18.8757 7.09334 18.8757 7.09334L16.7616 0.571375C16.646 0.227805 16.3278 -0.00277886 15.963 5.90915e-05C15.5971 0.00195106 15.2876 0.2281 15.1744 0.5764L13.1677 6.76698H6.83597L4.8255 0.575986C4.71245 0.227982 4.40292 0.00189197 4.0371 0C4.03563 0 4.03421 0 4.03268 0C3.67246 0 3.35361 0.229165 3.23673 0.576577L1.12843 7.09269L1.12814 7.09352C1.12814 7.09358 1.12814 7.09364 1.12814 7.0937C1.12761 7.09535 1.12737 7.09701 1.12684 7.09867C1.12731 7.09719 1.12749 7.09565 1.12796 7.09417L0.0591239 10.3809C-0.101659 10.8771 0.0728126 11.4163 0.493386 11.7229L9.72239 18.4422C9.72375 18.4432 9.72528 18.4438 9.72664 18.4448C9.73059 18.4476 9.73443 18.4505 9.73844 18.4532C9.73466 18.4507 9.73112 18.4479 9.7274 18.4453C9.7274 18.4453 9.7274 18.4452 9.72734 18.4452C9.72793 18.4457 9.72864 18.446 9.72929 18.4464C9.72982 18.4468 9.73035 18.447 9.73088 18.4473C9.73094 18.4474 9.731 18.4475 9.73112 18.4475C9.7454 18.4575 9.76021 18.4666 9.77555 18.4749C9.77767 18.4761 9.77956 18.4776 9.78169 18.4787C9.78175 18.4787 9.78174 18.4787 9.7818 18.4787C9.7831 18.4794 9.78428 18.4802 9.78558 18.4809C9.78658 18.4813 9.78765 18.4816 9.78859 18.4821C9.7893 18.4825 9.79006 18.4827 9.79077 18.483C9.79248 18.4838 9.79437 18.4844 9.79608 18.4852C9.80411 18.4891 9.81255 18.4922 9.82081 18.4956C9.82854 18.4988 9.83603 18.5025 9.84394 18.5053C9.84429 18.5054 9.84458 18.5056 9.84494 18.5057C9.84624 18.5062 9.84742 18.5068 9.84877 18.5073C9.85043 18.5079 9.85202 18.5085 9.85367 18.5091C9.85432 18.5092 9.85497 18.5094 9.85562 18.5095C9.85768 18.5102 9.85992 18.5105 9.86199 18.5111C9.86276 18.5113 9.86364 18.5114 9.86447 18.5117C9.87556 18.515 9.88707 18.5175 9.89851 18.52C9.903 18.521 9.9073 18.5224 9.91185 18.5233C9.9125 18.5234 9.91309 18.5236 9.91379 18.5237C9.91527 18.524 9.91663 18.5246 9.91816 18.5248C9.92058 18.5252 9.92294 18.526 9.92542 18.5263C9.92737 18.5266 9.92937 18.5265 9.93132 18.5268C9.93167 18.5269 9.93197 18.5268 9.93232 18.5269C9.93244 18.5269 9.9325 18.5269 9.93262 18.5269C9.95439 18.53 9.97646 18.5322 9.99894 18.5322C9.99905 18.5322 9.99917 18.5322 9.99935 18.5322C9.99941 18.5322 9.99947 18.5322 9.99947 18.5322H9.99953C9.99958 18.5322 9.99964 18.5322 9.9997 18.5322C10.0222 18.5322 10.0443 18.53 10.0661 18.5269C10.0662 18.5269 10.0663 18.5269 10.0664 18.5269C10.0667 18.5268 10.0671 18.5269 10.0674 18.5268C10.0694 18.5265 10.0715 18.5266 10.0734 18.5263C10.0759 18.5259 10.0782 18.5252 10.0807 18.5248C10.0822 18.5246 10.0835 18.524 10.085 18.5237C10.0857 18.5236 10.0863 18.5234 10.0869 18.5233C10.0915 18.5224 10.0959 18.521 10.1005 18.5199C10.1118 18.5175 10.1231 18.515 10.1342 18.5117C10.1349 18.5115 10.1357 18.5114 10.1365 18.5112C10.1387 18.5105 10.1409 18.5103 10.1431 18.5096C10.1437 18.5094 10.1444 18.5093 10.1451 18.5091C10.1468 18.5086 10.1484 18.5079 10.1501 18.5073C10.1514 18.5068 10.1526 18.5062 10.1539 18.5057C10.1542 18.5056 10.1545 18.5054 10.1549 18.5053C10.1633 18.5023 10.1712 18.4984 10.1794 18.4951C10.187 18.4919 10.1948 18.489 10.2022 18.4855C10.204 18.4846 10.206 18.4841 10.2077 18.4832C10.2085 18.4828 10.2093 18.4826 10.21 18.4822C10.211 18.4818 10.2121 18.4815 10.2131 18.4809C10.2144 18.4802 10.2157 18.4794 10.217 18.4787C10.217 18.4787 10.2171 18.4787 10.2171 18.4787C10.2193 18.4776 10.2212 18.476 10.2234 18.4748C10.2386 18.4665 10.2534 18.4575 10.2676 18.4476C10.2687 18.4468 10.27 18.4462 10.2712 18.4454C10.2715 18.4452 10.2718 18.445 10.2721 18.4448C10.2735 18.4438 10.2751 18.4431 10.2764 18.4421L19.5068 11.7227C19.9272 11.4163 20.1017 10.8771 19.9409 10.3809ZM15.9688 1.18236L17.779 6.76698H14.1586L15.9688 1.18236ZM17.462 7.71131L16.7233 8.65972L11.2753 15.6545L13.8524 7.71131H17.462ZM9.55128 18.2061C9.55175 18.2075 9.55252 18.2088 9.55299 18.2103C9.55252 18.2088 9.55175 18.2075 9.55128 18.2061ZM8.72477 15.655L2.54149 7.71131H6.1513L8.72477 15.655ZM4.03138 1.1823L5.84495 6.76698H2.22453L4.03138 1.1823ZM1.04754 10.9591C0.958093 10.8938 0.921039 10.7787 0.955319 10.673L1.74985 8.22971L7.57167 15.709L1.04754 10.9591ZM9.70616 18.4297C9.70433 18.4282 9.70256 18.4267 9.70079 18.4251C9.70044 18.4248 9.70009 18.4244 9.69967 18.4241C9.69613 18.4212 9.69265 18.4181 9.68923 18.4151C9.6825 18.4092 9.6759 18.4032 9.66958 18.397C9.67011 18.3974 9.6707 18.3979 9.67123 18.3983C9.67194 18.399 9.67271 18.3995 9.67342 18.4002C9.68693 18.4131 9.70115 18.4253 9.71602 18.4365C9.71619 18.4366 9.71631 18.4368 9.71649 18.4369C9.7172 18.4375 9.71779 18.4381 9.71849 18.4387C9.71442 18.4358 9.71018 18.4329 9.70616 18.4297ZM9.9997 16.532L8.48539 11.8577L7.14213 7.71131H12.8615L9.9997 16.532ZM10.3096 18.4151C10.3061 18.4181 10.3027 18.4212 10.2991 18.4242C10.2987 18.4245 10.2983 18.4249 10.2978 18.4253C10.296 18.4268 10.2943 18.4284 10.2925 18.4298C10.2886 18.433 10.2844 18.4358 10.2803 18.4388C10.281 18.4383 10.2816 18.4376 10.2824 18.4371C10.2825 18.437 10.2826 18.4369 10.2827 18.4368C10.2976 18.4255 10.3118 18.4135 10.3252 18.4005C10.3257 18.4 10.3263 18.3996 10.3269 18.3991C10.3276 18.3984 10.3284 18.3979 10.329 18.3973C10.3227 18.4034 10.3162 18.4093 10.3096 18.4151ZM18.9527 10.9589L12.4295 15.7075L18.2533 8.2303L19.0446 10.6725C19.079 10.7787 19.042 10.8938 18.9527 10.9589Z"/>
							</svg>
						</a>

						<a class="website" href="https://plants.danielouis.com" target="_blank" rel="noopener noreferrer">
							<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M2.30765 10.2151C2.66168 10.2151 2.94868 10.5039 2.94868 10.8602V13.9958C2.94868 14.55 3.36292 15.0041 3.90063 15.0497C5.52807 15.1879 8.09963 15.3764 9.99996 15.3764C11.9003 15.3764 14.4719 15.1879 16.0993 15.0497C16.637 15.0041 17.0512 14.55 17.0512 13.9958V10.8602C17.0512 10.5039 17.3382 10.2151 17.6923 10.2151C18.0463 10.2151 18.3333 10.5039 18.3333 10.8602V13.9958C18.3333 15.2095 17.4196 16.2325 16.2071 16.3355C14.5783 16.4738 11.9593 16.6667 9.99996 16.6667C8.04059 16.6667 5.42165 16.4738 3.79285 16.3355C2.58028 16.2325 1.66663 15.2095 1.66663 13.9958V10.8602C1.66663 10.5039 1.95362 10.2151 2.30765 10.2151Z"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M9.54669 3.52231C9.79702 3.27036 10.2029 3.27036 10.4532 3.52231L13.0173 6.10295C13.2677 6.3549 13.2677 6.7634 13.0173 7.01535C12.767 7.2673 12.3611 7.2673 12.1108 7.01535L10.641 5.53606V10.8602C10.641 11.2165 10.354 11.5054 9.99996 11.5054C9.64593 11.5054 9.35893 11.2165 9.35893 10.8602V5.53606L7.88913 7.01535C7.63879 7.2673 7.23292 7.2673 6.98258 7.01535C6.73225 6.7634 6.73225 6.3549 6.98258 6.10295L9.54669 3.52231Z"/>
							</svg>
						</a>
						
					</header>

					<main>
						<h3>Green plants theme website</h3>

						<p>
							Landing page about green plants with
							different animations.
						</p>
					</main>

					<footer>
						<span>Node</span>
						<span>Express</span>
						<span>EJS</span>
						<span>SCSS</span>
						<span>JS</span>
					</footer>
					
				</article>

			</li>

		</ul>

	</section>

	<section id="contact" class="contact">
		
		<svg class="line-vector" width="1236" height="920" viewBox="0 0 1236 920" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M893.59 889.5C893.59 889.5 665.526 173.069 318.59 211C-28.3471 248.931 -51.4104 527.5 190.09 527.5C431.59 527.5 1205.59 31 1205.59 31" stroke="#5DE1A2" stroke-opacity="0.25" stroke-width="60" stroke-linecap="round"/>
		</svg>

		<section class="reveal">

			<main>
				<h1 class="reveal-1">Get in touch</h1>
	
				<p class="description reveal-2">
					My inbox is always open, no matter if i'm looking for new
					opportunities or not, if you have any questions, you want
					to chat or simply say hello, i will do my best to answer
					as soon as possible.
				</p>
		
				<div class="cta reveal-3">
					<a class="button button--big" href="mailto:louis_daniel@outlook.fr">Say hello</a>	
				</div>
			</main>

			<footer class="reveal-4">
				<a href="https://www.linkedin.com/in/louis-daniel-860093178/" target="_blank" rel="noopener noreferrer">
					Design & built by Louis Daniel
				</a>
			</footer>

		</section>

	</section>

</section>

<div id="languages-list" class="languages-list">
	<header>
		<h2>Choose your language</h2>
		<button id="languages-close" class="close">
			<img class="icon--20" src="/img/cross_close.png" alt="close button">
		</button>
	</header>
	
	<section class="list">
		<a class="language js-button-lang" data-lang="EN">
			<img class="icon--15 js-lang-flag" src="/img/uk_flag_round.png" alt="United kingdom flag round">
			<span>English</span>
		</a>
		<a class="language js-button-lang" data-lang="FR">
			<img class="icon--15 js-lang-flag" src="/img/france_flag_round.png" alt="France flag round">
			<span>French</span>
		</a>
	</section>
</div>

<%- include('../footer') -%>