@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin square($side) {
    width: $side;
    height: $side;
}

@mixin flexAlignCenter() {
    display: flex;
    align-items: center;
}