.button {
    background-color: var(--color-green-dark);
    border-radius: var(--border-radius-min);
    color: var(--color-white);
    transition: background-color 0.2s;

    &:active {
        transform: scale(0.98);
    }

    &:hover {
        background-color: var(--color-green-dark-high);
    }

    &--medium {
        padding: 1.5rem 2rem;
    }

    &--big {
        padding: 2rem 3rem;
    }
}

@media screen and (max-width: 550px) {

    .button {

        &--big {
            padding: 1.5rem 2rem;
        }

    }
    
}