.languages-list {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 70%;
    left: 50%;
    width: 60%;
    height: 80vh;
    padding: 4rem;
    border-radius: 2rem;
    transform: translate(-50%, -50%);
    z-index: 15;
    background-color: var(--color-white);
    transition: opacity 0.4s, visibility 0.4s, z-index 0.4s, top 0.4s;

    &.open {
        opacity: 1;
        visibility: visible;
        top: 50%;
    }

    & > header {
        @include flexAlignCenter;
        justify-content: space-between;
    }

    & .close {
        padding: 1.5rem;
        @include flexAlignCenter;
        justify-content: center;
        border-radius: 100%;
        transition: background-color 0.2s;

        &:hover {
            background-color: var(--color-grey-light);
        }

        &:active {
            transform: scale(0.98);
        }
    }

    & .list {
        padding-top: 8rem;
        @include flexAlignCenter;
        flex-wrap: wrap;
    }

    & .language {
        @include flexAlignCenter;
        padding: 1.5rem 2rem;
        border-radius: 1rem;
        transition: background-color 0.2s;

        & span {
            padding-left: 1rem;
        }

        &:hover {
            background-color: var(--color-grey-light);
        }

        &:active {
            transform: scale(0.98);
        }

        & img, span {
            pointer-events: none;
        }
    }
}

@media screen and (max-width: 900px) {
    .languages-list {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .languages-list {
        width: 100%;
        height: 100%;
        border-radius: unset;
    }
}

@media screen and (max-width: 550px) {
    .languages-list {
        & .list {
            padding-top: 2rem;
        }

        & .close {
            padding: 1rem;
        }
    }
}

@media screen and (max-width: 400px) {
    .languages-list {
        padding: 3rem;
    }
}