nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
    position: fixed;
    width: 100%;
    z-index: 10;
    animation-duration: 0.5s;
    animation-name: slideInFromTop;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-delay: 1.1s;
    background-color: var(--color-green-light);
    transition: box-shadow 0.6s, background-color 0.2s;

    &.sticky {
        box-shadow: 0 0.3rem 1.5rem rgba(109, 109, 109, 0.15);
    }
    
    & .logo {
        font-family: "MonteCarlo", sans-serif;
        font-size: 3rem;
        color: var(--color-green-dark);
    }

    & .menu {
        display: flex;
        align-items: center;

        & a:nth-child(n + 2) {
            margin-left: 4rem;
        }

        & a[href^="#"]:hover {
            text-decoration: underline;
        }
    }

    @keyframes slideInFromTop {
        from {
            top: -4rem;
            opacity: 0;
            visibility: hidden;
        }

        to {
            top: 0;
            opacity: 1;
            visibility: visible;
        }
    }

    &.active-menu-mobile {

        & .menu-mobile {
            right: 0;
            visibility: visible;
            opacity: 1;
            z-index: 10;
        }

        & .menu-mobile-button {

            & span:nth-child(1) {
                -webkit-transform: rotate(-45deg) translate(-11px, 3px);
                transform: rotate(-45deg) translate(-11px, 3px);
            }

            & span:nth-child(2) {
                opacity: 0;
                visibility: hidden;
            }

            & span:nth-child(3) {
                -webkit-transform: rotate(45deg) translate(-11px, -3px);
                transform: rotate(45deg) translate(-11px, -3px);
            }

            & span {
                background-color: var(--color-green-dark);
                height: 4px;
                width: 3.5rem;
                border-radius: 1rem;
            }
        }

        & ~ .home {
            pointer-events: none;
        }
    }

    .menu-mobile {
        @include flexColumn;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        max-height: 100vh;
        background-color: var(--color-green-light);
        width: 60%;
        z-index: 0;
        position: absolute;
        right: -15rem;
        top: 0;
        opacity: 0;
        visibility: hidden;
        box-shadow: -0.2rem 0.1rem 1.7rem 0.3rem rgba(0, 0, 0, 0.25);
        transition: right 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;

        & a:nth-child(n + 2) {
            margin-top: 4rem;
        }
    }
    
    .menu-mobile-button {
        position: relative;
        z-index: 20;
        display: none;
        cursor: pointer;
    
        & span {
            background-color: var(--color-green-dark);
            height: 4px;
            width: 3.5rem;
            border-radius: 1rem;
            opacity: 1;
            visibility: visible;
            transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
        }
    }

    & .lang {
        display: flex;
        align-items: center;
        min-width: 4.1rem;

        & span {
            padding-left: 0.5rem;
        }

        &:hover {
            text-decoration: underline;
        }
    }

}

@media screen and (max-width: 900px) {
    nav {
        padding: 1rem 8rem;
    }
}

@media screen and (max-width: 700px) {

    nav {
        padding: 1.5rem 5rem;
        align-items: stretch;
        z-index: 15;

        & .menu {
            display: none
        }

        & .logo {
            font-size: 2.5rem;
        }

        .menu-mobile-button {
            @include flexColumn;
            justify-content: space-between;
        }

    }
}

@media screen and (max-width: 400px) {
    nav {
        & .menu-mobile {
            width: 70%;
        }
    }
}
