.reveal {

    & [class*="reveal-"] {
        opacity: 0;
        visibility: hidden;
        transform: translateY(5rem);
    }

    &-1 {
        transition-delay: 0.2s;
    }

    &-2 {
        transition-delay: 0.35s;
    }

    &-3 {
        transition-delay: 0.5s;
    }

    &-4 {
        transition-delay: 0.75s;
    }

    &-5 {
        transition-delay: 0.9s;
    }
}

[class*="reveal-"] {
    transition-duration: 0.6s;
    transition-property: all;
    transition-timing-function: ease-out;
}