:root {
    --image-user-hero-left: -15%;
    --image-user-hero-width: 100%;
    --image-vector-hero-left: -30%;
    --image-vector-hero-top: 5%;

    --section-project-padding: 10rem 20rem;
    --section-project-card-width: calc((100% - 2rem * 2) / 3);

    --image-vector-contact-left: -30%;
}

.home {
    position: relative;

    & > section {
        min-height: 100vh;
    }

    & > .hero, .contact {
        background-color: var(--color-green-light);
        @include flexColumn;
        overflow: hidden;
        position: relative;
    }

    & .hero {

        & main {
            display: flex;
            justify-content: space-between;
            flex: 1;
            padding-top: var(--navbar-height);
        }

        & .headlines, .graphics {
            width: calc(100% / 2);
        }

        & .headlines {
            padding-left: 10rem;
            @include flexColumn;
            justify-content: center;
            position: relative;
            z-index: 1;
        }

        & .graphics {
            padding-right: 10rem;
            position: relative;
        }

        & .name {
            color: var(--color-green-dark);
            padding-top: 2rem;
        }

        & .description {
            padding-top: 2rem;
            line-height: var(--line-height-base);
            width: 85%;
            position: relative;

            & a {
                color: var(--color-green-dark);
                font-weight: var(--font-weight-bold);
            }
        }

        & .cta {
            padding-top: 4rem;
            display: flex;
        }

        & .line-vector {
            position: absolute;
            left: var(--image-vector-hero-left);
            top: var(--image-vector-hero-top);
        }

        & .user {
            position: absolute;
            top: 5%;
            left: var(--image-user-hero-left);
            width: var(--image-user-hero-width);
            animation-name: fadeInFromCenter;
            animation-duration: 0.9s;
            animation-fill-mode: both;
            animation-timing-function: ease-out;
            animation-delay: 1.2s;

            @keyframes fadeInFromCenter {
                from {
                    visibility: hidden;
                    opacity: 0;
                }

                to {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        & .techno-1 {
            bottom: 15%;
            left: 5%;
        }

        & .techno-2 {
            top: 20%;
            left: 10%;
            transform: rotate(-25deg);
        }

        & .techno-3 {
            top: 15%;
            right: 35%;
            transform: rotate(45deg);
        }

        & .techno-4 {
            bottom: 30%;
            right: 20%;
        }

        & .techno-5 {
            top: 10%;
            transform: rotate(-35deg);
            left: -2%;
        }

        & .emoji {
            position: absolute;
            @include square(2rem);
            margin-left: 1rem;
            margin-top: 0.3rem;
        }
    }

    & > .projects {
        position: relative;
        padding: var(--section-project-padding);
        @include flexColumn;

        & .techno-6 {
            right: 25%;
            top: -5%;
        }

        & .list {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 8rem;
        }

        & .project-card {
            width: var(--section-project-card-width);

            &:nth-child(n + 4) {
                margin-top: 2rem;
            }
        }

        & .project-link-whole {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    & .project {
        @include flexColumn;
        border-radius: var(--border-radius-base);
        background-color: var(--color-green-dark);
        height: 100%;
        padding: 4rem;
        position: relative;
        top: 0;
        transition: top 0.2s, box-shadow 0.2s, background-color 0.2s;       

        &:hover {
            top: -1rem;
            box-shadow: 0.1rem 1rem 2rem 1rem rgba(0, 0, 0, 0.25);
        }

        &:hover main h3 {
            color: var(--color-green);
        }

        & header {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        & main {
            padding: 2rem 0 8rem 0;
            flex: 1;

            & h3 {
                color: var(--color-green-light);
                transition: color 0.2s;
            }

            & p {
                padding-top: 2rem;
                line-height: var(--line-height-base);
                color: var(--color-white);
            }
        }

        & footer {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 1.5rem;

            & span {
                color: var(--color-white);
                font-size: var(--font-size-min);
            }

            & span:not(:last-child) {
                padding-right: 1.5rem;
            }
        }
    }

    & .git, .website {
        border-radius: 100%;
        transition: background-color 0.2s;
        position: relative;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: var(--color-green--25);
        }

        & svg {
            overflow: visible;
            pointer-events: none;
            fill: var(--color-white);
            width: 2rem;
            height: auto;
        }
    }

    & .website {
        margin-left: 1rem;
    }

    & .contact {

        & .line-vector {
            position: absolute;
            left: var(--image-vector-contact-left);
            top: -15%;
        }

        & main, footer {
            position: relative;
        }

        & > section {
            @include flexColumn;
            flex: 1;
        }

        & main {
            @include flexColumn;
            align-items: center;
            justify-content: center;
            flex: 1;
        }

        & .cta {
            padding-top: 4rem;
            display: flex;
        }

        & .description {
            width: 35%;
            text-align: center;
            line-height: var(--line-height-base);
            padding-top: 2rem;
        }

        & footer {
            padding: 4rem;
            font-size: var(--font-size-min);
            text-align: center;

            & a:hover {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    :root {
        --image-user-hero-width: 110%;
        --image-vector-hero-left: -20%;

        --image-vector-contact-left: -50%;
    }

    .home {

        & .contact {

            & .line-vector {
                width: 120%;
                height: 120%;
                top: -10%;
            }

        }

    }
}

@media screen and (min-width: 1800px) {
    :root {
        --section-project-card-width: calc((100% - 2rem * 3) / 4);
    }

    .home {

        & > .projects {

            & .project-card {
    
                &:nth-child(n + 4) {
                    margin-top: unset;
                }
    
                &:nth-child(n + 5) {
                    margin-top: 2rem;
                }
            }

        }

    }
}

@media screen and (max-width: 1400px) {
    :root {
        --image-user-hero-left: -10%;
        --image-vector-hero-left: -25%;

        --section-project-padding: 10rem 15rem;
    }
}

@media screen and (max-width: 1300px) {
    :root {
        --image-vector-hero-left: -35%;
        --section-project-padding: 10rem;
    }
}

@media screen and (max-width: 1200px) {
    :root {
        --image-user-hero-width: 130%;
        --image-user-hero-left: -25%;
        --image-vector-hero-left: -45%;

        --section-project-card-width: calc((100% - 2rem) / 2);
        --section-project-padding: 10rem;

        --image-vector-contact-left: -40%;
    }

    .home {

        & .hero {

            & .headlines {
                padding-left: 8rem;
            }

            & .graphics {
                padding-right: 8rem;
                left: 2%;
            }

        }

        & > .projects {

            & .project-card {
    
                &:nth-child(n + 3) {
                    margin-top: 2rem;
                }
            }

        }

    }
}

@media screen and (max-width: 1150px) {
    .home {
        & .hero {

            & .headlines {
                width: 100%;
                text-align: center;
                padding-left: 0;
                padding: 0 10rem;
                align-items: center;
            }

            & .graphics {
                width: 100%;
                position: absolute;
                height: calc(100% - var(--navbar-height));
                padding-right: unset;
                left: unset;
            }

            & .line-vector, .user {
                display: none;
            }

            & .techno-1 {
                bottom: 15%;
                left: -2%;
            }
    
            & .techno-3 {
                right: 5%;
            }
    
            & .techno-4 {
                right: -2%;
            }
        }
    }
}

@media screen and (max-width: 1100px) {

    .home {

        & .contact {

            & .description {
                width: 50%;
            }
            
        }

    }
}

@media screen and (max-width: 900px) {
    :root {
        --section-project-card-width: calc(100%);
        --section-project-padding: 10rem 20rem;

        --image-vector-contact-left: -80%;
    }

    .home {

        & .hero {

            & .headlines {
                padding: 0 5rem;
            }

            & .techno-1 {
                bottom: 15%;
                left: -2%;
            }
    
            & .techno-3 {
                right: 5%;
            }
    
            & .techno-4 {
                right: -2%;
            }
        }

        & > .projects {

            & .project-card {
    
                &:nth-child(n + 2) {
                    margin-top: 2rem;
                }
            }

            & .list {
                padding-top: 6rem;
            }

            & .techno-6 {
                top: -3%;
            }

        }

    }
}

@media screen and (max-width: 800px) {
    :root {
        --section-project-padding: 10rem 15rem;
    }
}

@media screen and (max-width: 700px) {
    :root {
        --image-vector-contact-left: -120%;
    }

    .home {

        & .hero {

            & .description {
                width: 100%;
            }

        }

        & .contact {

            & .description {
                width: 80%;
            }
            
        }

    }
}

@media screen and (max-width: 600px) {
    :root {
        --section-project-padding: 10rem 8rem;
    }

    .home {

        & .hero {

            & .headlines {
                padding: 0 2rem;
            }

            & .techno-2 {
                top: 5%;
                left: 30%;
            }

            & .techno-3 {
                top: 5%;
            }

            & .techno-4 {
                bottom: 5%;
            }

            & .techno-5 {
                top: 10%;
            }

        }

    }
}

@media screen and (max-width: 550px) {
    :root {
        --section-project-padding: 8rem 2rem;
        --image-vector-contact-left: -150%;
    }

    .home {

        & .hero {

            & .description {
                padding-top: 1rem;
            }

            & .cta {
                padding-top: 2rem;
            }

        }

        & > .projects {

            & .list {
                padding-top: 4rem;
            }

        }

        & .contact {
            padding: 0 2rem;

            & .description {
                width: 100%;
                padding-top: 1rem;
            }

            & .cta {
                padding-top: 2rem;
            }
            
        }

    }
}

@media screen and (max-width: 450px) {
    :root {
        --image-vector-contact-left: -200%;
    }
}

@media screen and (max-width: 400px) {
    :root {
        --image-vector-contact-left: -250%;
    }

    .home {

        & .hero {

            & .techno-2, .techno-4, .techno-5 {
                display: none;
            }

            & .techno-1 {
                bottom: 5%;
            }

            & .techno-3 {
                top: 5%;
            }

            & .description {
                padding-top: 2rem;
                padding-left: 2rem;
                padding-right: 2rem;
            }

            & .cta {
                padding-top: 4rem;
            }

        }

        & .project {
            padding: 2rem;

            & main {
                padding: 2rem 0 6rem 0;
            }
        }

        & > .projects {

            & .techno-6 {
                right: 10%;
            }

        }

    }
}